body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer-logo .logo-acent {
  color: #2196F3;
}

.footer-logo {
  color: white;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  color: #2196F3;
  letter-spacing: 0.78px;
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.header-logo-icon {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-acent {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-logo {
  margin-bottom: 20px;
}

.svg-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  color: #fff;
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.hero__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: #2196F3;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.96px;
  margin-left: 140px;
  margin-right: 140px;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin-left: 284px;
    margin-right: 284px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    margin-left: 692px;
    margin-right: 692px;
    width: 216px;
    height: 50px;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #1581d9;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-link {
  display: block;
  padding: 32px 0;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
}

.header-list-item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contact-link:hover,
.contact-link:focus {
  color: #2196F3;
}

.contact-link:hover .header-logo-icon,
.contact-link:focus .header-logo-icon {
  fill: #2196F3;
}

.nav-link {
  font-family: Roboto;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.28px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #2196F3;
}

.current::after {
  content: "";
  display: block;
  width: 105%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  bottom: 0;
}

.contact-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__menu-btn {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.hero-section {
  background-color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg_hero_img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg_hero_img.jpg");
}

.hero-section__title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .hero-section__title {
    margin-left: 204px;
    margin-right: 204px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section__title {
    margin-left: 452px;
    margin-right: 452px;
    font-size: 44px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-text {
  color: #757575;
  margin-bottom: 12px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-cross-svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  resize: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #2196F3;
  outline: none;
}

.checkbox-modal {
  color: #757575;
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.checkbox-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: #188CE8;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #FFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #1581d9;
}

.modal-name {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  position: relative;
  display: block;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link1 {
  position: absolute;
  top: 105px;
  left: 50px;
}

.modal-link2 {
  position: absolute;
  top: 163px;
  left: 50px;
}

.modal-link3 {
  position: absolute;
  top: 225px;
  left: 50px;
}

.name-modal {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
}

.name-modal:not(:first-child) {
  margin-top: 10px;
}

.modal-input:hover + .modal-name-svg,
.modal-input:focus + .modal-name-svg {
  fill: #2196F3;
}

.name-modal:hover {
  border-color: #2196F3;
}

.modal-name-svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.advantages {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages__list-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__list-item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list-item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.advantages-item-title {
  color: #212121;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantages-item-title {
    text-align: none;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item-title {
    text-align: none;
  }
}

.advantages-list-text {
  font-family: Roboto;
  font-size: 14px;
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.42px;
}

.advantages__list-item::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
}

.advantages__list-item:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.advantages__list-item:nth-child(2)::before {
  content: "";
  background-image: url("../images/clock.svg");
}

.advantages__list-item::before {
  background-color: #F5F4FA;
  background-position: center;
  border-radius: 4px;
}

.advantages__list-item:nth-child(3)::before {
  content: "";
  background-image: url("../images/diagram.svg");
}

.advantages__list-item:nth-child(4)::before {
  content: "";
  background-image: url("../images/astronaut.svg");
}

.advantages__list-title {
  color: #212121;
  text-transform: lowercase;
}

.advantages__item-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.work__title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work__title {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.work__list-item {
  position: relative;
}

.work__item-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 27px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  letter-spacing: 1.08px;
}

.work-name {
  color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.workers {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .workers {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1400px) {
  .workers {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.workers__soc-icon {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__soc-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__soc-link:hover,
.workers__soc-link:focus {
  background-color: #2196F3;
}

.workers__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.workers__soc-link:hover .worker-soc-icon,
.workers__soc-link:focus .worker-soc-icon {
  fill: white;
}

.workers__soc-icon:hover {
  fill: #2196F3;
}

.workers__soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border-radius: 50%;
}

.workers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .workers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .workers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.workers__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 16px;
}

.workers__box-info {
  padding: 30px 0;
}

.workers__list-item {
  background-color: #FFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 450px;
}
@media screen and (min-width: 768px) {
  .workers__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .workers__list-item {
    width: 270px;
  }
}

.workers__title {
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__logo-title {
  text-align: center;
  margin-bottom: 20px;
}

.clients__logo-link:hover,
.clients__logo-link:focus {
  border-color: #2196F3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clients__icon-logo {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo-link:hover .clients__icon-logo,
.clients__logo-link:focus .clients__icon-logo {
  fill: #2196F3;
}

.clients__logo-link {
  padding: 16px 32px;
  border: 1px solid #757575;
  border-radius: 1px;
  display: block;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .footer {
    width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 480px) {
  .footer .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .footer .container {
    width: 1600px;
  }
}

.svg-address-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-left: 516px;
}

.footer-soc-icon {
  fill: #FFFFFF;
}

.svg-address-item {
  border: 3px solid #000;
  width: 170px;
  height: 92px;
  border-radius: 4px;
}

.footer-soc-links__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.svg-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}

.footer-soc-link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.footer-input-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
  .footer-input {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    min-width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-input {
    width: 1600px;
  }
}

.footer-input-svg {
  fill: #FFF;
}

.market {
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.market-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.market-list-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #EEE;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.project-overlay {
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  cursor: pointer;
}

.wrapper-project-image:hover .project-overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.wrapper-project-image {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
}

.project__wrapper-info {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.market-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.market-text {
  width: 322px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.filter-btn {
  color: #212121;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}/*# sourceMappingURL=main.css.map */