:root {
  --accent-color: #2196F3;
  --main-color: #212121;
  --add-color: #757575;
  --add-white: #FFFFFF;
  --main-bg-color: #2F303A;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  margin-right: 93px;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-container {
  background-color: #212121;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  color: var(--accent-color);
  letter-spacing: 0.78px;
}

.nav-list {

  display: flex;
  gap: 50px;

}

.nav-link {
  display: block;
  padding: 32px 0;
}

.header-list {
  margin-left: auto;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.header-list-item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-logo-icon {
  fill: var(--add-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: #212121;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contact-link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link:hover .header-logo-icon,

.contact-link:focus .header-logo-icon {
  fill: var(--accent-color);
}


.nav-link {
  font-family: Roboto;
  font-size: 14px;
  color: var(--main-color);
  text-decoration: none;
  letter-spacing: 0.28px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  width: 105%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
}

.contact-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--add-color);
  letter-spacing: 0.28px;
  text-decoration: none;
}

.logo-icon {
  color: #FFFFFF;
}

.hero-section {
  background-color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section {

  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    linear-gradient(to right,
      rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg_hero_img.jpg")
}

.hero {
  margin-bottom: 30px;
  background-image: url(./images/ImgOverlay.png);
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;

  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  display: block;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: #2196F3;
  border: none;
  font-family: Roboto;
  font-size: 16px;
 
  letter-spacing: 0.96px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #1581d9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {

  color: #212121;
  margin-bottom: 12px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-cross-svg {
  position: absolute;
  top: 15px;
  right: 15px;

}

.modal-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  height: 40px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  height: 120px;
  resize: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.checkbox-modal {
  color: #757575;
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 28px;
  margin-bottom: 20px;
}



.checkbox-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}



.modal-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: #188CE8;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #FFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #1581d9;
}

.modal-name {
  color: #757575;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  position: relative;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link1 {
  position: absolute;
  top: 105px;
  left: 50px;
}

.modal-link2 {
  position: absolute;
  top: 163px;
  left: 50px;
}

.modal-link3 {
  position: absolute;
  top: 225px;
  left: 50px;
}

.name-modal {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;

}

.name-modal:not(:first-child) {
  margin-top: 10px;
}

.modal-input:hover+.modal-name-svg,
.modal-input:focus+.modal-name-svg {
  fill: var(--accent-color);
}

.name-modal:hover {
  border-color: #2196F3;
}

.modal-name-svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  border-radius: 4px;

  background-color: #FFF;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item-title {
  padding-bottom: 15px;

  color: #212121;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 14px;

  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages-list-text {
  font-family: Roboto;
  font-size: 14px;
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.42px;
}

.advantages-list-item:nth-child(1)::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-image: url("../images/antenna.svg");
  background-repeat: no-repeat;
}

.advantages-list-item:nth-child(2)::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-image: url("../images/clock.svg");
  background-repeat: no-repeat;

}

.advantages-list-item::before {
  background-color: #F5F4FA;
  background-position: center;
  border-radius: 4px;

}

.advantages-list-item:nth-child(3)::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-image: url("../images/diagram.svg");
  background-repeat: no-repeat;
}

.advantages-list-item:nth-child(4)::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-image: url("../images/astronaut.svg");
  background-repeat: no-repeat;


}



.advantages-list-title {
  color: #212121;
  text-transform: lowercase;
}

.advantages-item-text {
  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.work-title {
  margin-bottom: 50px;

}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;

}

.work-list-item {
  position: relative;

}

.work-item-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  padding: 27px;
  color: #FFF;

  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;

  letter-spacing: 1.08px;
}

.work-name {
  color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.workers {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;


  letter-spacing: 0.48px;
}

.worker-soc-icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-soc-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-soc-link:hover,
.worker-soc-link:focus {
  background-color: var(--accent-color);
}

.worker-soc-list {
  justify-content: center;
  gap: 10px;
}

.worker-soc-link:hover .worker-soc-icon,
.worker-soc-link:focus .worker-soc-icon {
  fill: white;
}

.worker-soc-icon:hover {
  fill: #2196F3;
}

.worker-soc-link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
}

.worker-list-item {
  background-color: #FFF;
}

.worker-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.worker-soc-list {
  display: flex;
  gap: 14px;
  margin-top: 16px;
}

.worker-box-info {
  padding: 30px 0;
}

.worker-list-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.workers-title {
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  justify-content: center;
}

.clients-logo-title {
  text-align: center;
  margin-bottom: 20px;
}

.clients-logo-link:hover,
.clients-logo-link:focus {

  border-color: #2196F3;

}

.clients {

  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  gap: 30px;
}

.icon-client-logo {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-link:hover .icon-client-logo,
.clients-logo-link:focus .icon-client-logo {
  fill: #2196F3;

}

.clients-logo-link {
  padding: 16px 32px;

  border-radius: 1px;
  border-color: #757575;
  border-width: 1px;
  border-style: solid;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.footer {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  gap: 70px;
}

.svg-address-title {
  color: #FFF;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-left: 516px;
}

.footer-soc-icon {
  fill: white;
}



.svg-address-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-color: black;
  border-width: 3px;

}

.footer-logo .logo-acent {
  color: var(--accent-color);
}

.footer-soc-links__title {
  color: #FFF;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.svg-address-list {
  display: flex;
  gap: 10px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer-logo {
  color: white;
}

.footer-soc-link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50%;
}

.footer-input-title {
  color: #FFF;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);

  background: rgba(33, 150, 243, 0.00);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.footer-input-btn {
  width: 200px;
  height: 50px;
  color: #FFF;
  border-radius: 4px;
  background: #2196F3;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.footer-input-svg {
  fill: #FFF;


}

.logo {
  color: #2196F3;

  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-acent {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}



.filter-btn {
  color: #212121;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--add-white);
  background-color: var(--accent-color);

}

.market {
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.market-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.market-list-item {
  position: relative;
  overflow: hidden;
  border-color: #EEE;
  border-style: solid;
  border-width: 1px;
  flex-basis: calc((100% - 60px)/3)
}

.project-overlay {
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.90);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  cursor: pointer;



}

.wrapper-project-image:hover .project-overlay {
  transform: translateY(0);
}

.wrapper-project-image {
  position: relative;
  overflow: hidden;

}

.overlay-text {
  color: #FFF;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
}

.project__wrapper-info {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.market-title {
  color: #212121;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.market-text {

  width: 322px;
  color: #757575;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.footer-logo {
  margin-bottom: 20px;
}

.svg-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}