.clients__logo-title {
    text-align: center;
    margin-bottom: 20px;
}

.clients__logo-link:hover,
.clients__logo-link:focus {

    border-color: #2196F3;

}

.clients {

    padding-top: 94px;
    padding-bottom: 94px;
}

.client__list {
    display: flex;
    gap: 30px;
}

.clients__icon-logo {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo-link:hover .clients__icon-logo,
.clients__logo-link:focus .clients__icon-logo {
    fill: #2196F3;

}

.clients__logo-link {
    padding: 16px 32px;

    border-radius: 1px;
    border-color: #757575;
    border-width: 1px;
    border-style: solid;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}