.header .container {
    display: flex;
    align-items: center;
}

.header-container {
    background-color: #212121;
}



.nav-list {

    display: flex;
    gap: 50px;

}

.nav-link {
    display: block;
    padding: 32px 0;
}

.header-list {
    margin-left: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.header-list-item {
    margin-top: 32px;
    margin-bottom: 32px;
}



.contact-link {
    color: #212121;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.contact-link {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link:hover .header-logo-icon,

.contact-link:focus .header-logo-icon {
    fill: var(--accent-color);
}


.nav-link {
    font-family: Roboto;
    font-size: 14px;
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: 0.28px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.current::after {
    content: '';
    display: block;
    width: 105%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
}

.contact-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: var(--add-color);
    letter-spacing: 0.28px;
    text-decoration: none;
}