.work__title {
    
   display: none;
        @media screen and (min-width: 1200px) {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  }
}

.work__list {
    display: none;
        @media screen and (min-width: 1200px) {
  @include flex(30px, row, center);

  }
   
   

}

.work__list-item {
    position: relative;

}

.work__item-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    padding: 27px;
    color: #FFF;

    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
    color: $main-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;

    letter-spacing: 1.08px;
}

.work-name {
    color: $main-color;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}